[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
mangum = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
aws-lambda-powertools = {extras = ["parser"], version = "*"}

[dev-packages]

[scripts]
local = "uvicorn main:app --reload --host 0.0.0.0 --port 8000"
test = "pytest"
test-cov = "pytest --cov=. --cov-report=html"
reset-db = "rm -f jokes.db"

[requires]
python_version = "3.14"
